@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #0d1f2d;
  --secondary: #546a7b;
  --variable: #babdc3;
  --white: #eee5e9;
}

.add__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 0;
  border-radius: 50%;
  background: #ff004c;
  box-shadow: 0 0 20px #ff004c;
  cursor: pointer;
  font-size: 2rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  color: var(--white);
  z-index: 1;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: var(--primary);
  padding: 10px;
}

.navbar h2 {
  font-size: 2.5rem;
  color: var(--white);
}

.search {
  padding: 10px;
  background-color: var(--white);
  border: 0;
  border-radius: 5px;
  font-size: 1.2rem;
}

@media screen and (max-width: 552px) {
  .navbar {
    flex-direction: column;
  }
}

/* TASKS */

.task {
  background-color: var(--secondary);
  width: 90%;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 5px 5px 5px #00000080;
}

.task__header {
  background-color: var(--primary);
  border-radius: 10px 10px 0 0;
  position: relative;
}

.task__header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.task__title {
  text-transform: capitalize;
  word-break: break-all;
  color: var(--white);
  letter-spacing: 1px;
  font-weight: 500;
}

.task__actions-container {
  margin-right: 50px;
  white-space: nowrap;
}

.task__actions {
  background-color: transparent;
  border: 0;
  margin: 0 10px;
  cursor: pointer;
  color: var(--white);
  font-size: 1.1rem;
}

.task__body {
  padding: 10px;
}

.task__date {
  font-weight: 700;
  font-size: 0.7rem;
  letter-spacing: 1px;
  color: var(--white);
}

.task__text {
  color: var(--white);
  font-weight: 300;
  font-size: 1.1rem;
}

.task__complete-container {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-25px, 19px);
}

.task__complete-container {
  background-color: var(--secondary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__complete-inner {
  background-color: var(--primary);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task__complete {
  background-color: #7d98ad;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.task__complete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  padding: 5px;
  color: #79ff79;
  cursor: pointer;
  font-size: 1.3rem;
}

@media screen and (min-width: 552px) {
  .task__header {
    padding: 10px;
  }

  .task__actions-container {
    margin-right: 40px;
  }
}

@media screen and (max-width: 300px) {
  .task__header,
  .task__body {
    padding: 10px;
  }
  .task__actions-container {
    margin-right: 0;
  }
}

/* ADD MODAL */

.add__modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.904);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.add__input,
.add__textarea {
  padding: 10px;
  resize: vertical;
  background-color: var(--white);
  border: 0;
  margin: 10px 0;
  width: 90%;
  outline: none;
  border-bottom: 3px solid var(--primary);
  border-radius: 10px;
}

.add__textarea {
  height: 150px;
}

.add__task-submit {
  padding: 10px 20px;
  background-color: var(--white);
  border: 0;
  border-radius: 10px;
}

.close__modal {
  background-color: transparent;
  font-size: 2rem;
  color: var(--white);
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
}

.close__modal svg {
  color: var(--white);
  z-index: 1;
}

@media screen and (min-width: 552px) {
  .add__input,
  .add__textarea {
    max-width: 600px;
  }
}

/*  */

.change__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.change__input-container {
  flex: 1;
  margin: 10px;
}

.change__btn-container {
  flex: 1;
  margin: 10px;
  text-align: center;
}

.change__modal-input,
.change__modal-textarea {
  border: 0;
  background-color: var(--primary);
  font-size: 1.1rem;
  padding: 5px;
  margin: 10px;
  width: 100%;
  outline: none;
  color: var(--white);
}

.change__modal-textarea {
  resize: vertical;
}

.change__btn {
  border: 0;
  font-size: 1.1rem;
  padding: 5px;
  margin: 10px;
  width: 100px;
  border: 2px solid #ff004c;
  background-color: var(--primary);
  color: #ff004c;
  border-radius: 10px;
  cursor: pointer;
}

.change__btn.done {
  color: #79ff79;
  border: 2px solid #79ff79;
}
@media screen and (max-width: 552px) {
  .change__container {
    flex-direction: column;
  }

  .change__modal-input,
  .change__modal-textarea {
    margin: 10px 0;
    width: 100%;
  }

  .change__input-container {
    width: 90%;
    margin: 0 auto;
  }

  .change__btn {
    margin: 5px;
  }
}
